@import "~bootstrap/scss/mixins/buttons";
@import "variables";
@import "~bootstrap/scss/variables";

$btn-padding-x-xs:  .30rem !default;
$btn-padding-y-xs:  .24rem !default;
$input-btn-line-height-xs: 1 !default;

.btn.btn-xs {
    // line-height: ensure proper height of button next to small input
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, 0.85rem, $input-btn-line-height-xs, $btn-border-radius-sm);
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item.disabled {
    cursor:default;
}
