@import "~bootstrap/scss/mixins/breakpoints";

@include media-breakpoint-up(xs) { // > 576 px
    .card-columns {
        column-count:  1 !important;
    }
}

@include media-breakpoint-up(sm) { // > 768 px
    .card-columns {
        column-count:  2 !important;
    }
}

@include media-breakpoint-up(md) { // > 992 px
    .card-columns {
        column-count:  3 !important;
    }
}

@include media-breakpoint-up(lg) { // > 1300 px
    .card-columns {
        column-count:  4 !important;
    }
}

@include media-breakpoint-down(lg) {
    .tabs-left.nav-tabs > li > a {
        height: 80px !important;
        width: 80px !important;

        padding: 10px 0 4px !important;
    }

    #home-container .column-container {

        .tabs-left {
            width: 6.75em !important;
        }

        .left {
            min-width: 6.75em !important;
        }

        .main {
            margin: 0 0 0 1.5em !important;
        }
    }
}
