@import "mixins/theme";
@import "variables";

$background-gradient-color: $gray-800 !default;

$login-background-src: "https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cea32ac97f8ffde3f76df4a646ac8b4d&auto=format&fit=crop&w=1350&q=80" !default;

$top-login-image: block !default;
$logo-src : "https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cea32ac97f8ffde3f76df4a646ac8b4d&auto=format&fit=crop&w=1350&q=80" !default;

.card-img-top.login-img {
    background: url($login-background-src) no-repeat;
    background-size: cover;
    min-height: 200px;
    display: $top-login-image;
}

body.auth {
    background: radial-gradient(
                    rgba($background-gradient-color, 0.7),
                    rgba($background-gradient-color, 0.8),
                    rgba($background-gradient-color, 0.95)
    ), url($login-background-src) fixed no-repeat !important;
    background-size: cover !important;

    .logo {
        background: url($logo-src) no-repeat !important;
        background-size: contain !important;
        width: 100%;
        height: 80px;
        margin-bottom: 1rem;
    }
}

// dark theme
$body-bg : $gray-200;
$body-color : $gray-800;
$border-color : $teal;
$hover-bg : rgba($cyan,0.3);
$brand-color : $teal;
$navbar-bg : $dark;
$navbar-color : $teal;
$navbar-tab-color : $teal;
$navbar-active-color : $gray-900;
$card-bg : $gray-400;
$menu-color: $gray-200;

body.dark-theme {
    @include theme($body-bg,
        $body-color,
        $border-color,
        $hover-bg,
        $brand-color,
        $navbar-bg,
        $navbar-color,
        $navbar-tab-color,
        $navbar-active-color,
        $card-bg,
        $menu-color
    );
}


// light theme
$body-bg : white;
$body-color : $gray-800;
$border-color : transparent;
$hover-bg : rgba($blue,0.5);
$brand-color : $light; //$blue;
$navbar-bg : #0095c6;; //$light;
$navbar-color : $light; //$blue;
$navbar-tab-color : lighten($blue,45); //$blue;
$navbar-active-color : $gray-800;
$card-bg : $gray-100;
$menu-color: $gray-800;


body.light-theme {
    @include theme($body-bg,
        $body-color,
        $border-color,
        $hover-bg,
        $brand-color,
        $navbar-bg,
        $navbar-color,
        $navbar-tab-color,
        $navbar-active-color,
        $card-bg,
        $menu-color
    );
}
