//// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600|Cormorant:300,400,700|Montserrat:100,300,400,700);

@font-face {
    font-family : "Sansation Regular";
    src: url(fonts/Sansation_Regular.ttf);
}

.text-fancy {
    font-family: "Cormorant", Calibri, Serif;
    font-weight: 300;
}

.letter-spacing-wide {
    letter-spacing: 1.2px;
}

.white-space-normal {
    white-space: normal !important;
}

.text-bold {
    font-weight: bold !important;
}

.text-small {
    font-size: 0.6rem;
}
